<!-- fragments/tailwind-config.html -->
<script th:fragment="tailwind-config">
  tailwind.config = {
      theme: {
          extend: {
              colors: {
                  'ocher-yellow': '#D2AB14',
                  'aerth-red': '#A94133',
                  'aging-grey': '#7B7C7D',
              },
              fontFamily: {
                  'dosis': ['Dosis', 'sans-serif'],
                  'open-sans': ['Open Sans', 'sans-serif'],
              },
          }
      }
  }
</script>