/* Kleuren */
:root {
    --ocher-yellow: #d7b729;
    --olive-green: #c1c343;
    --aerth-red: #c16a3e;
    --aging-grey: #a6b0a9;
    --black: #000000;
    --background: #ECE8DD; /* Background color */
    --menu-balk: #686A6E; /* Menu bar color */
}

/* Algemene stijlen */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--background); /* Apply background color */
    color: var(--black);
    margin: 0;
    padding: 0;
}

/* Menu bar style */
header {
    background-color: var(--menu-balk); /* Apply menu bar color */
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    height: 50px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 2rem;
}

.retrospective-section {
    margin-bottom: 2rem;
}

textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 1rem;
}

button {
    display: block;
    margin-bottom: 1rem;
}

ul {
    list-style: none;
    padding: 0;
}

/* Headers */
h1 {
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
    color: var(--ocher-yellow);
}

h2 {
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    color: var(--ocher-yellow);
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: var(--ocher-yellow);
}

/* Buttons */
.button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 5px;
    border-radius: 8px; /* Afgeronde hoeken */
}

.button.volgende {
    background-color: var(--aerth-red);
    color: #ffffff;
}

.button.terug {
    background-color: var(--aging-grey);
    color: #ffffff;
}

/* Container voor buttons */
.button-container {
    text-align: center;
    margin-top: 20px;
}

@media (max-width: 600px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
    }

    nav ul li {
        margin: 0.5rem 0;
    }
}

.retrospective-section {
    display: none; /* Hide all sections by default */
}

.retrospective-section.active {
    display: block; /* Show the active section */
}